@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@font-face {
    font-family: 'optimus princeps';
    src: url('./fonts/OptimusPrinceps.ttf');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #987794;
    width: 300px;

    border-radius: 10px;
    padding: 20px;
}

.display {
    font-family: "Kode Mono";
    background-color: #ECEAEC;
    border-radius: 5px;
    height: 60px;
    margin-bottom: 20px;
    padding-right: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 2em;
    overflow: hidden;
}

.you-died {
    font-family: "optimus princeps";
    justify-content: center;
    background-color: black;
    color: red;
}

.buttons {
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
    height: 300px;
}

button {  
    border: 0;
    border-radius: 3px;
    flex: 1 0 24%;
    font-size: 20px;
    transition: background-color 100ms cubic-bezier(.15,.4,.67,.93);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

button:active {
    transform: translateY(1px);

}

button:hover {
    cursor: pointer;
}

.op-active {
    background-color: #B4C4B1;
    border: 0;
    border-radius: 3px;
}